<!-- HERO SECTION -->
<section class="page-hero">
    <div class="container">
        <h1 class="page-hero__title">Privacy Policy</h1>
    </div>
</section>

<section class="page-content">
    <div class="container">
        <strong>The revised privacy policy is effective starting on May 1, 2021</strong>

        <h2>Privacy policy overview</h2>
        <p>We are committed to protecting and respecting your privacy. This policy explains how we use any personal information that you provide to us through our website
            (http://www.ascentcore.com).</p>

        <h2>Collecting and processing your personal information</h2>
        <p>For the purpose of this Privacy Policy, AscentCore Technology is a Data Controller of your personal information. Our legal basis for collecting and using your personal information, as
            described in this Privacy Policy, depends on the information we collect and the specific context in which we collect it. We may process your personal information because:</p>

        <ul>
            <li>To improve the functionality of the website by avoiding duplicate data entry, facilitating navigation, and increasing the relevance of content</li>
            <li>To measure visitors’ interest in content, blog articles, partnerships, and service offerings</li>
            <li>We need to perform a contract with you</li>
            <li>You have given us permission to do so</li>
            <li>The processing is in our legitimate interests and it’s not overridden by your rights</li>
            <li>For payment processing purposes</li>
            <li>For a job position</li>
            <li>To comply with the law</li>
        </ul>

        <h2>What categories of personal information we collect</h2>
        <p><strong>a) Contact Form</strong><br/>
            In case of questions of any kind, we offer you the opportunity to contact us through a form provided on the site. In this case, it is necessary to provide a valid e-mail address in order
            to
            know the origin of the request and to be able to respond to it. We collect the following categories of personal information that you choose to provide us on our website
            (http://www.ascentcore.com) via the contact form:</p>

        <ul>
            <li>Email Address</li>
            <li>First name and last name</li>
            <li>Phone number</li>
            <li>The reason for your inquiry</li>
        </ul>

        <p>When you submit an inquiry via the contact form, you also consent to having AscentCore representatives contact you via email or phone. The data processing in this situation is done in
            accordance with art. 6 para (1) lit. a of the REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL of 27 April 2016 on the protection of individuals with regard to the
            processing of personal data and on the free movement of such data and repealing Directive 95/46 / EC (hereinafter GDPR) based on your consent. The personal data we collect through the use
            of the contact form can be deleted after a request has been submitted.</p>

        <p><strong>b) Job Position</strong><br/>
            If you apply for a job position through our website via any available contact or application form or button (including the Apply via LinkedIn button or BambooHR), you consent to having
            AscentCore collect, process and use the following data:</p>

        <ul>
            <li>Your name, email address and phone number,</li>
            <li>Your city of residence,</li>
            <li>Your technology stack of interest,</li>
            <li>Your CV,</li>
            <li>Your public LinkedIn profile, containing information such as your name, contact number, email address, city of residence and experience.</li>
        </ul>

        <p>When you apply for a job position through our website, you also consent to having AscentCore representatives contact you via email or phone. The data processing in this situation is done in
            accordance with art. 6 para (1) lit. a of the GDPR based on your consent. </p>

        <p><strong>c) Technical support</strong><br/>
            We may also collect personal information that you give us during your communication with us regarding our services, such as technical support threads. In addition to the above, we may need
            to use your personal information for audits and compliance with our legal obligations under applicable law.</p>

        <p>The data processing in this situation is done in accordance with art. 6 para (1) lit.c of the GDPR based on the fulfillment of a legal obligation.</p>

        <p><strong>d) Schedule a call</strong><br/>
            If you schedule a call, we will process your name and email address provided to generate Web conferencing details.
            The data processing in this situation is done in accordance with art. 6 para (1) lit. of the GDPR based on your consent. The personal data we collect through the use of the contact form
            can be deleted after a request has been submitted.</p>

        <p><strong>e) Visiting the site</strong><br/>
            When you access our site, the browser used on your device automatically sends information to the server on our site. This information is temporarily stored in a so-called logfile. The
            following information is automatically collected and stored until deleted:</p>

        <table>
            <thead>
            <tr>
                <th>The IP address of the accessing computer</th>
                <th>The indicated data are processed by us for the following purposes:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Date and time of access</td>
                <td>Ensuring a smooth connection to the website</td>
            </tr>
            <tr>
                <td>The name and the URL of the accessed data</td>
                <td>Ensuring the comfortable use of our website</td>
            </tr>
            <tr>
                <td>The site from which is the access done (URL reference)</td>
                <td>Ensuring the comfortable use of our website</td>
            </tr>
            <tr>
                <td>The browser used and, if applicable, the operating system of your computer and the name of the internet provider</td>
                <td>For other administrative purposes</td>
            </tr>
            </tbody>
        </table>

        <p>The legal basis for data processing is represented by art. 6 para (1) lit. f of the GDPR. Our legitimate interest stems from the purposes listed above in terms of data collection. Under no
            circumstances do we use the data collected in order to create profiles about you. In addition, we use cookies and analysis services when accessing our site.</p>

        <p><strong>f) Compliance with the obligations imposed by the authorities regarding the fulfillment of the legal provisions</strong><br/>
            Ascentcore collects your personal data in order to comply with legal obligations or to establish / support claims or to defend you against them. Legal basis for processing: legal
            obligations that the Company must comply with (ref. Article 6 (1) (c) of the GDPR) or a legitimate interest of the Company in protecting its rights (ref. Article 6 (1) (f) of the GDPR).
        </p>

        <p><strong>g) Disclosure of data</strong><br/>
            There will be no disclosure of personal data to third parties for purposes other than those mentioned below. Your data will only be transferred to third parties in the following
            situations:</p>

        <ul>
            <li>you have expressly agreed to this according to art. 6 para. (1) lit. and GDPR.</li>
            <li>the transfer, in accordance with art. 6 para (1) lit. f GDPR, is required to request, exercise or protect a right and your consent is not required</li>
            <li>there is no reason to believe that you have a legitimate interest in not communicating your data.</li>
            <li>in the situation where there is a legal obligation to communicate these data in accordance with art. 6 para (1) lit. c GDPR</li>
            <li>this use is allowed from a legal point of view and according to art. 6 para (1) lit. b GDPR is required to process contractual relations with you.</li>
        </ul>

        <p>For your rights regarding your personal information, please see “What are your rights as the owner of the personal information” section below.</p>

        <h2>Why we collect personal information</h2>
        <p>We use your data to:</p>

        <ul>
            <li>To operate and maintain our service</li>
            <li>To gather analytical data to improve our service</li>
            <li>To monitor the usage of our service</li>
            <li>To communicate with you</li>
            <li>To conduct market research surveys</li>
            <li>To resolve disputes and troubleshooting problems</li>
            <li>To send you offers and emails containing content we believe will be relevant based on your job title and/or company industry.</li>
            <li>To build up marketing profiles</li>
        </ul>

        <h2>How we keep your personal data safe</h2>
        <p>The company uses a wide range of security measures to improve the protection and maintain the security, integrity and accessibility of your personal data.</p>

        <p>All of your personal data are stored on our secure servers or those of suppliers or business partners, and may be accessed and used in accordance with our standards and our security
            policies.</p>

        <p>The security measures we have taken include:</p>

        <ul>
            <li>restrictions on access to your personal data, based on necessity and only for the purposes communicated;</li>
            <li>perimeter security systems to prevent unauthorized external access;</li>
            <li>permanent monitoring of access to IT systems to identify and stop the misuse of personal data;</li>
            <li>tracking access to your personal data by internal staff and verifying the purpose;</li>
            <li>use of encryption to our web site that requires personal data.</li>
        </ul>

        <h2>How we collect your personal data</h2>
        <p>We collect data in two ways:</p>

        <ul>
            <li>Data that you provide to us</li>
            <li>Data that we collect through third-party services.</li>
        </ul>

        <p>We collect your data during your communication with us regarding our services, such as technical support threads. That’s the data that you provide to us.</p>

        <p>We also use third-party tools to facilitate, operate and manage our website. These tools use cookies and other tracking technologies. Such tools are created and managed by parties outside
            our control. As such, AscentCore Technology is not responsible for what information is actually captured by such third parties or how such third parties use and protect that
            information.</p>

        <p>The third-party tools we use on our website will only insert cookies and other tracking technologies if consented by you. We track your consent once you click ‘Accept’ on our Privacy
            center. </p>

        <h2>With whom we share the collected personal information</h2>
        <p>We employ third party companies and individuals (‘Service Providers’) to facilitate and make our website accessible to our visitors. We share and disclose your personal information with
            these tools. They use cookies and other tracking technologies. Such tools are created and managed by parties outside our control. As such, AscentCore Technology is not responsible for what
            information is actually captured by such third parties or how such third parties use and protect that information.</p>

        <p>These service providers have access to your personal information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose. They may track
            your online behavior over time and across different internet websites or online services. </p>

        <h2>Analytics</h2>
        <p>We use a 3rd party analytical software to gather statistical information about our website visitors. The plugins we use include:</p>

        <p><strong>Google Analytics</strong><br/>
            We use Google Analytics, a web analytics service provided by Google Inc. (https://www.google.de/intl/de/about/) (1600 Amphitheater Parkway, Mountain View, CA 94043, USA; hereinafter
            "Google") - for the purpose of properly configuring and continuously optimizing sites our. In this context, pseudonymous user profiles are created and cookies are used. The information
            retrieved by cookies is as follows:</p>

        <ul>
            <li>Browser version type</li>
            <li>Operating system used</li>
            <li>Reference URL (previously visited site)</li>
            <li>Hostname of the accessing computer (IP address)</li>
            <li>Server access time</li>
        </ul>

        <p>You can prevent the installation of cookies by setting your browser software accordingly; however, we would like to point out that, in this case, not all functions of this website
            can be fully used. You may, in addition, prevent the collection of data generated by cookies and data related to the use of the site (including the IP address) and the processing
            of such data through Google, by downloading and installing a browser add-on.</p>

        <p><strong>Google Ads</strong><br/>
            Google Adwords places a cookie on your computer if you have reached our website through a Google ad. These cookies expire after 30 days and are not used for personal
            identification. If the user visits certain pages of the adwords customer site and the installed cookie has not yet expired, Google and the customer may determine that the user
            clicked on the ad and was taken to this page.</p>

        <p>Each adword client receives a different cookie. Therefore, cookies cannot be tracked through the websites of Adwords customers. The information obtained using the conversion cookie
            is used to create conversion statistics for Adwords customers who have opted for conversion-tracking. Adwords customers find the total number of users who clicked on your ad and
            were directed to a page with a Conversion-Tracking-Tag. However, they will not receive any information that can be used to personally identify users.</p>

        <p><strong>Social media</strong><br/>
            We use third-party social media tools on our website to enable sharing from our website. These plugins may share content you provide to 3rd parties. </p>

        <p><strong>Facebook Ads conversion tracking</strong><br/>
            Facebook Ads conversion tracking (Facebook pixel) is an analytics service provided by Facebook, Inc. that connects data from the Facebook advertising network with actions performed
            on this Website. The Facebook pixel tracks conversions that can be attributed to ads on Facebook, Instagram and Audience Network.</p>

        <p><strong>LinkedIn conversion tracking</strong><br/>
            LinkedIn conversion tracking is an analytics service provided by LinkedIn Corporation that connects data from the LinkedIn advertising network with actions performed on this
            Website. </p>

        <p><strong>Hotjar Heat Maps & Recordings</strong><br/>
            Hotjar is a session recording and heat mapping service provided by Hotjar Ltd.
            Hotjar honors generic „Do Not Track” headers. This means the browser can tell its script not to collect any of the User's data. This is a setting that is available in all major
            browsers.</p>

        <p><strong>Mailchimp</strong><br/>
            Mailchimp is an email address management and message sending service provided by The Rocket Science Group LLC. Personal Data processed: company name; country; email address; first
            name; last name; phone number; various types of Data.</p>

        <p><strong>Salesforce</strong><br/>
            When you submit a contact form on our website, your personal information is shared with Salesforce. We store data about prospects, leads, and clients within the system. This data
            is stored in Salesforce databases and applications and exists behind a firewall.</p>

        <p><strong>Clutch.co</strong><br/>
            Clutch.co may use automated means to collect information about you, your computer or other device, and your use of the Services. These automated means include technologies such as
            cookies, Web server logs, Web beacons, and JavaScript.</p>

        <h2>What are your rights as the owner of personal information</h2>
        <p>You have the following data protection rights:</p>

        <ul>
            <li>The right to access to your data</li>
            <li>The right to update or correct your data</li>
            <li>The right to object to the use of your data</li>
            <li>The right to restrict the use of your data</li>
            <li>The right to transfer your data to another data controller</li>
            <li>The right to the erasure of your data</li>
            <li>The right to withdraw consent</li>
            <li>The right to non-discrimination related to the exercising of your rights under the GDPR and CCPA</li>
            <li>The right to obtain information about the personal data we have collected from you and sold or disclosed to other subjects, if you are a California resident</li>
            <li>The right to opt-out from sales of your personal information to third parties</li>
            <li>In addition, if you are a California resident, you have the right to request from us to disclose to you the following:</li>
            <li>The categories of personal information we have collected about you</li>
            <li>The categories of sources from which the personal information is collected</li>
            <li>The business or commercial purpose for collecting or selling your personal information</li>
            <li>The categories of third parties with whom we share personal information</li>
            <li>The specific pieces of personal information we have collected about you</li>
        </ul>

        <h2>How can you exercise your rights as the owner of personal information</h2>
        <p>You may submit your requests to exercise your right under the GDPR and CCPA by:</p>

        <ul>
            <li>Email: dataprivacy@ascentcore.com</li>
            <li>Website: www.ascentcore.com</li>
        </ul>

        <p>Please note that we may ask you to verify your identity before responding to such requests. You have the right to complain to a Data Protection Authority about our collection and
            use of your personal information. For more information, please contact your local data protection authority.
            We have not sold our users’ personal information to third parties for business purposes in the last 12 months.</p>

        <h2>Do not track signals</h2>
        <p>We do not respond to “Do Not Track” requests. We do not change our practices as a response to such a request.</p>

        <h2>Location and transfer of your personal information</h2>
        <p>We use third party service providers including Google Analytics, Google Ads. All such service providers are contractually bound to keep your personal information secure and
            confidential and to use it only for the above purposes, consistent with this Privacy Policy. You understand and accept that data protection legislation applicable to such service
            providers may not be as protective as in your country of residence. By accepting this Privacy Policy, you consent to such use of your personal information by these third party
            service providers. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your
            Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

        <h2>Storage and deletion of your personal information</h2>
        <p>We will retain usage data for internal analysis purposes. Usage data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to
            improve the functionality of our service, or legally obligated to retain this data for longer time periods. We will store your personal information for the period of providing our
            services to you. After that, we will erase all your personal information that we have, except when we need to keep such information for a longer period to comply with applicable law or
            resolve disputes.</p>

        <p>Following the deletion of your personal information from our database, the related backup data will be deleted, generally within 365 days.</p>

        <h2>Security of your personal information</h2>
        <p>We take appropriate technical measures for keeping your personal information confidential and protected against accidental or unlawful destruction or loss, alteration, unauthorised
            disclosure or access. We use technical safeguards measures including</p>

        <ul>
            <li>Encryption</li>
            <li>Redundancy</li>
            <li>Backups</li>
        </ul>

        <p>Finally, our subcontractors are contractually bound to keep your personal information secure and confidential, consistent with this Privacy Policy, and are kept up-to-date on our
            security and privacy practices.</p>

        <h2>Links to third-party Websites</h2>
        <p>Our service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you
            to review the Privacy Policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites
            or services.</p>

        <h2>Protecting your child’s privacy</h2>
        <p>Our Service does not address anyone under the age of 16 (‘Children’). We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a
            parent or guardian and you are aware that your Children have provided us with Personal Data, please contact us. If we become aware that we have collected personal data from
            children without verification of parental consent, we take steps to remove that information from our servers.</p>

        <h2>Changes to this privacy policy</h2>
        <p>From time to time we may update this Privacy Policy. If we do, we will update the “last updated” sections at the top of the Privacy Policy. If we make material changes to this
            policy, we may notify you on our website, by a blog post, by email, or by any method we determine. Your continued use of this website or our service and/or continued provision of
            information to us will be subject to the terms of the then-current Privacy Policy.</p>

        <h2>Contact us</h2>
        <p>If you have any questions about our Privacy Practices or this Policy, please contact us at</p>

        <ul>
            <li>Email: dataprivacy@ascentcore.com</li>
            <li>Website: www.ascentcore.com</li>
        </ul>

    </div>
</section>