---
---

/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');



/* Reset CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Site CSS */

body {
  //font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  width: 100%;
  font-size: 18px;
  color: #444;
}

h2 {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  max-width: 40vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.0em;
  text-transform: none;
  line-height: 1.1;
  font-weight: 500;
  margin-top: 30px;
  color: #444;
}

h2.light {
  color: #f5f5f5;
}

h3 {
  //font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.8;
  font-weight: 300;
}

.desc {
  position: relative;
  z-index: 1;
  padding-top: 40px;
}

.image {
  background-attachment: fixed;
  background-size: 100% 100%;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.col-2-3 {
  width: 66.6%;
  padding-right: 60px;
  box-sizing: border-box;
}

.col-1-3 {
  width: 33.3%;
  padding-right: 60px;
  box-sizing: border-box;
}

button, .button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  cursor: pointer;
  padding: 20px 60px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  color: #d6d6d6;
  border: 2px solid #d6d6d6;
  font-size: 12px;
  margin-top: 50px;
}

button:hover {
  background: #403d9b;
  color: #fff;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 120px;
}

.flex {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo {
  position: fixed;
  z-index: 3;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 0;
  padding: 18px;
  background: #f34e35;
  box-sizing: border-box;
}

.logo img {
  width: 100%;
}

/* Sidebar */

.sidebar {
  position: fixed;
  z-index: 1;
  right: 0;
  width: 80px;
  height: 100%;
  top: 0;
  overflow: hidden;
  opacity: 0.85;
}

.sidebar .inner {
  position: absolute;
  top: 230px;
  left: 0;
  width: 100%;
  height: calc(100% - 270px);
}

.sidebar .inner > div {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: calc(100vh - 270px);
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
}

h1 {
  position: absolute;
  top: 40px;
  left: 30px;
  margin: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
  /*color: #33326d;*/
}

.sidebar .col {
  width: 100%;
  flex-basis: 100%;
  padding-top: 30px;
}

.sidebar .col span {
  cursor: pointer;
  display: inline-block;
  margin: 0 40px 25px 0;
  color: #fff !important;
  text-decoration: none;
}

.col a:hover {
  color: #999;
}

.line {
  height: calc(100% - 80px);
  background: #d4d3d3;
  position: absolute;
  top: 40px;
  left: 0;
}

.line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  background: #fff;
  height: 210px;
}

.line:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffffff45;
  width: 1px;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

/* Intro section */

.intro {
  position: relative;
  overflow: hidden;
  background: linear-gradient(207deg, #262554, #403d9b);
  background-size: 100% 100%;

  .desc {
    max-width: 720px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 0;

    video {
      width: 100%;
      position: absolute;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .intro .overlay {
    video {
      width: auto;
      height: 100%;
    }
  }
}


/* Services section */
.services {
  background: linear-gradient(27deg, #f34e35, #403d9b);
  background-size: 100% 100%;

  .desc {
    text-align: right;
    padding-right: 40px;

    p {
      margin-bottom: 40px;
    }
  }

  .image {
    height: calc(70vh - 70px);
    width: 40vw;
    margin-top: 60px;
    background-image: url(https://images.unsplash.com/photo-1523726491678-bf852e717f6a?auto=format&fi…aWQiOjEyMDd9&ixlib=rb-0.3.5&q=80&s=f2c6bc0…&w=1650);
    opacity: 0.3;
    position: absolute;
    top: 20%;
    right: 20%;
  }
}

/* Process section */
.process {
  background: linear-gradient(207deg, #3a3956, #403d9b, #7673b5);
  background-size: 100% 100%;

  h2 {
    text-align: right;
    padding-right: 40px;
  }

  .desc {
    padding-right: 40px;

    p {
      margin-bottom: 40px;
    }
  }

  .image {
    height: calc(60vh - 70px);
    width: 45vw;
    margin-top: 60px;
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-0.3.5…EyMDd9&s=47d2b1f…&auto=format&fit=crop&w=1650&q=80);
    opacity: 0.3;
    position: absolute;
    top: 20%;
    left: 12%;
  }
}

/* Showcase section & page */

.showcase {
  background: linear-gradient(207deg, #262554, #403d9b);
  background-size: 100% 100%;
  text-align: right;

  .showcase-left {
    padding-right: 60px;
  }

  img {
    width: 100%;
    margin-top: 30px;
    opacity: 0.7;
  }
}

.showcase-container {
  background: #f5f5f5;

  .logo {
    right: 0;
    left: auto;
  }

  section {
    min-height: 100vh;
    padding: 90px;
    position: absolute;
    pointer-events: none;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;

    a {
      pointer-events: all;
    }

    .button {
      color: #444;
    }


    h2 {
      font-size: 2rem;
    }

    p {
      color: #444;
      margin-top: 30px;
      max-width: 640px;
    }

    h2, p {
      display: block;
      position: relative;
      z-index: 1;
    }
  }

  h3 {
    display: none;
  }

  p {
    display: none;
  }
}


/* Contact section */
.contact {
  background: linear-gradient(207deg, #262554, #403d9b);
  background-size: 100% 100%;

  .image {
    width: 100%;
    height: calc(50vh - 40px);
    background-size: 46%;
    position: relative;
    overflow: hidden;
    background-image: url("https://scontent-otp1-1.xx.fbcdn.net/v/t31.0-8/10924163_1045127108847891_4534471659318110783_o.jpg?_nc_cat=110&_nc_ht=scontent-otp1-1.xx&oh=dfd3d20d8b82e6dd0649264be8189f34&oe=5D75261A");
    background-attachment: fixed;
    margin-bottom: 60px;
  }

  b {
    font-weight: bold;
  }
}



@media only screen and (max-width: 1260px) {
  h2 {
    font-size: 3.6em;
  }

  .desc p {
    font-size: 16px;
  }

  section {
    padding: 100px;
  }
}


@media only screen and (max-width: 1090px) {
  h2 {
    max-width: none;
    margin-bottom: 30px;
    text-align: left !important;
  }

  p {
    font-weight: 400;
  }

  .intro h2 {
    margin-bottom: 0;
  }

  .services .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .desc {
    text-align: left !important;
  }

  .services button, .process button {
    display: none;
  }

  .showcase {
    text-align: left;
  }

  section {
    padding: 90px;
  }

  .col-1-2 {
    padding: 0 15px;
  }

  section {
    min-height: auto;
  }

  .contact .image {
    background-size: 100%;
  }

  .col-1-2, .col-2-3 {
    padding: 0;
    width: 100%;
  }

  .process .image, .services .image {
    width: 60vw;
  }
}


@media only screen and (max-width: 828px) {

  .contact {
    padding-bottom: 120px;
  }

  .logo {
    width: 60px;
    height: 60px;
    padding: 13px;
  }

  h2 {
    max-width: 100vw;
    font-size: 3.2em;
  }

  .image {
    display: none;
  }

  .contact .image {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.8em !important;
    max-width: none !important;
    margin-top: 40px !important;
  }

  section {
    padding: 40px;
  }
}



@media only screen and (max-width: 520px) {
  section {
    padding: 50px 25px;
  }
}