<div class="delivery">
  <h3>From ideation to delivery</h3>
  <ul>
    <li>
      <img src="assets/images/icons/plan.png" />
      <span>plan</span>
    </li>
    <li>
      <img src="assets/images/icons/analyze.png" />
      <span>analyze</span>
    </li>
    <li>
      <img src="assets/images/icons/design.png" />
      <span>design</span>
    </li>
    <li>
      <img src="assets/images/icons/implement.png" />
      <span>implement</span>
    </li>
    <li>
      <img src="assets/images/icons/test.png" />
      <span>test</span>
    </li>
    <li>
      <img src="assets/images/icons/deliver.png" />
      <span>deliver</span>
    </li>
  </ul>
</div>
