<!-- Tech insights -->
<section class="description container reversed">
  <div class="details">
    <div class="content">
      <h3>Emerging Tech</h3>
      We deliver transformational results for our clients by leveraging the
      latest technology.

      <ul>
        <li>artificial intelligence (AI/ML)</li>
        <li>internet of things (IOT)</li>
        <li>data visualization</li>
        <li>voice & language processing</li>
        <li>data privacy</li>
        <li>automation</li>
      </ul>
      <a href="services.html" class="intro__button">Explore Solution</a>
    </div>    
    <img src="assets/images/backgrounds/emerging.jpeg" />
  </div>
</section>
