<!-- HERO SECTION 
<section class="home-hero">
    <div class="container">
        <h1 class="home-hero__title">
            We build <span>world-class</span> digital products, delivered fast, for better value
        </h1>
        <div class="home-hero__buttons">
            <a href="contact.html" class="home-hero__button">Connect with our team<br/><small>Schedule a call</small></a>
        </div>
    </div>
    <div class="home-hero__image"></div>
</section>
-->

<section class="carousel-homepage">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide__01">
                <div class="container">
                    <h1 class="swiper-slide__title">We build <span>world-class</span> digital products, delivered fast, for better value</h1>
                    <div class="home-hero__buttons">
                        <a href="contact.html" class="home-hero__button">Connect with our team<br/><small>Schedule a call</small></a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide__02">
                <div class="container">
                    <h1 class="swiper-slide__title">Artificial Intelligence is our bread and butter</h1>
                    <p>Data Science <i class="fas fa-circle"></i> Machine Learning <i class="fas fa-circle"></i> Image Recognition <i class="fas fa-circle"></i> Prediction <i class="fas fa-circle"></i> NLP
                    </p>
                    <a href="/services-ai.html" class="swiper-slide__button">AI Capabilities</a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide__03">
                <div class="container">
                    <h5 class="up-title">INSIGHTS</h5>
                    <h1 class="swiper-slide__title">How AI Adoption Enables Digital Transformation</h1>
                    <a href="/2021/03/08/ai-adoption.html" class="swiper-slide__button">Read about it</a>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>