<!-- HERO SECTION -->
<section class="home-hero">
  <div class="container">
    <h1 class="home-hero__title">
      We build <span>world-class</span> digital products, delivered fast, for
      better value
    </h1>
    <div class="home-hero__buttons">
      <a href="work.html" class="home-hero__button">How we do it</a>
      <a href="contact.html" class="home-hero__button home-hero__button--white"
        >Get in touch</a
      >
    </div>
  </div>
  <div class="home-hero__image"></div>
</section>
