<!-- Tech insights -->
<section class="description container">
  <div class="details">
    <div class="content">
      <h3>Industries</h3>
      <div>
        We have specialists in your industry. In fact, our end-to-end product
        development services include specialized expertise across many
        industries and solutions. We sit at the nexus of deep vertical knowledge
        and comprehensive horizontal capabilities, empowering companies to
        disrupt, transform, accelerate, and scale.
      </div>

      <a href="work.html" class="intro__button">Find your industry</a>
      
    </div>
    <img src="assets/images/backgrounds/industries.jpg" />
  </div>
</section>
