<!-- Insights -->
<div class="work">
  
  <div class="insights">
    <div class="container">
      <!-- <div class="tabs tabs--work-page">
        <a href="#" role="tab" class="tabs__button tabs__button--active">All</a>
        <a href="#" role="tab" class="tabs__button">Articles</a>
        <a href="#" role="tab" class="tabs__button">Case studies</a>
      </div> -->
      <h3>Latest Content</h3>
      <div class="insights__inner">
        {% for post in site.posts limit:3%}
        <div class="insights__article">
          <img
            class="insights__image"
            style='background-image: url("{{post.img}}");'
          />
          <a href="{{ site.baseurl }}{{post.url}}"
            ><h4 class="insights__article-title">{{ post.title }}</h4></a
          >
          <p class="insights__article-description">{{ post.description }}</p>
          <a href="{{ site.baseurl }}{{post.url}}" class="insights__link"
            >Learn more</a
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
