<!-- INTRO SECTION -->
<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__copy">
        <h2 class="intro__title">We take it personally!!</h2>
        <p class="intro__description">
          Our success is built on personal connection at a global scale. We’ve been doing this for decades but it's never just about the project at hand. It's about building trust and driving your long-term success.
        </p>
      </div>
      <a href="about.html" class="intro__button">Read our story</a>
    </div>
  </div>
</section>
