<!-- INTRO SECTION -->
<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__copy">
        <h2 class="intro__title">Better quality, no trade-offs.</h2>
        <p class="intro__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud.
        </p>
      </div>
      <a href="#" class="intro__button">Read out story</a>
    </div>
  </div>
</section>
