<!-- Tech insights -->
<section class="description container">
  <div class="details">
    <div class="content">
      <h3>AscentCore Labs</h3>
      <div>
        By researching and testing the latest technologies through our lab,
        AscentCore is able to envision innovative and disruptive digital
        products for our clients. Our r&d work includes real-time cyber attack
        prediction, ML-based document clustering, Covid-19 simulations to
        support local government, and many other projects.
      </div>

      <a href="work.html" class="intro__button">Learn More</a>
    </div>
    <img src="assets/images/backgrounds/labs.jpg" />
  </div>
</section>
