<!-- PROCESS SECTION -->
<section class="process">
    <div class="process__image">
      <div class="process__image-bg"></div>
    </div>
    <div class="container">
      <div class="process__list">
        <div class="process__item">
          <h3 class="process__title">Analysis</h3>
          <p class="process__text">Partner with our clients to understand the business and propose best solution. Analyse and present risks and oportunities in the development process.
            Propose solution design to match customer demand and budget.
          </p>
        </div>
        <div class="process__item">
          <h3 class="process__title">Development</h3>
          <p class="process__text">Dedicated development, Requirements Analysis, Re-engineering, refactoring migration, modernization, performance tuning and porting, Estimations, Planning, Design and implementation, Reviews, Performance, Security.
          </p>
        </div>
        <div class="process__item">
          <h3 class="process__title">Quality assurance</h3>
          <p class="process__text">Focus on automation, Custom tooling, Performance, Security.</p>
        </div>
        <div class="process__item">
          <h3 class="process__title">Delivery</h3>
          <p class="process__text">Packaging and bundling, Automated deployments, Monitoring.
          </p>
        </div>
        <div class="process__item">
          <h3 class="process__title">Research</h3>
          <p class="process__text">Artificial Intelligence, Machine Learning, Data Analysis
          </p>
        </div>
      </div>
    </div>
  </section>