<!-- <section class="testimonial">
  <div class="container">
    <div class="testimonial__inner">
      <h4 class="testimonial__title">What our clients say</h4>
      <h3 class="testimonial__content">“When you outsource product development with Ascentcore, you don’t have to compromise quality, scalability, or time-to-market.”</h3>
      <p class="testimonial__name">John Smith</p>
      <p class="testimonial__position">Head of Application Development</p>
      <p class="testimonial__company">Company Name</p>
    </div>
  </div>
</section> -->