<!-- HERO SECTION -->
<section class="contact-hero">
  <div class="container">
    <h1 class="contact-hero__title">Contact us</h1>
    <p class="contact-hero__description">
      Send us a message and let us know how we can help.
    </p>
  </div>
  <div class="contact-hero__image"></div>
</section>

<!-- CONTACT FORM -->
<section class="contact-form">
  <div class="container">
    <div class="contact-form-title">Let's Get Started 
      <small>contact@ascentcore.com</small>
    </div>
    <form
      class="contact-form__inner"
      action="https://formspree.io/f/mbjzydzp"
      method="POST"
    >
    <div class="contact-form__group">
      <label>
          Your email: <input type="email" name="_replyto" />
      </label>
    </div>
    <div class="contact-form__group">
      <label>
        Your message:
        <textarea name="message" rows="10"></textarea>
      </label>
    </div>

      <!-- your other form fields go here -->

      <button class="contact-form__submit" type="submit">Send</button>
    </form>

</section>

<!-- LOCATION -->
<section class="contact-locations">
  <div class="container">
    <h2>Our locations</h2>
    <div class="contact-locations__inner">
      <div class="contact-locations__item">
        <!-- <div class="contact-locations__image--reston"></div> -->
        <h3>Reston</h3>
        <p>1284 Auburn Grove Ln Reston</p>
        <p>VA 20194, USA</p>
        <a href="mailto:contact@ascentcore.com">contact@ascentcore.com</a>
      </div>
      <div class="contact-locations__item">
        <!-- <div class="contact-locations__image--cluj"></div> -->
        <h3>Cluj-Napoca</h3>
        <p>Nicolae Draganu Nr.4</p>
        <p>Jud. Cluj, Romania</p>
        <a href="mailto:contact@ascentcore.com">contact@ascentcore.com</a>
      </div>
    </div>
  </div>
</section>
