---
layout: default
title: "Home Page"
fulltitle: "AscentCore Website"
excerpt: Best quality. No trade-offs.
---

<div class="logo">
  <img src="assets/static/logo.svg" alt="logo" />
</div>

{% include sidebar.html %}
{% include intro.html %}
{% include showcase.html %}
{% include services.html %}
{% include process.html %}

<!-- Navigation -->
<script>
  function scrollToSection(id) {
    console.log(document.getElementById(id));
    document.getElementById(id).scrollIntoView({
      behavior: 'smooth'
    })
  }
</script>