<!-- AC Labs  -->

<section class="labs">
    <div class="container">
        <div class="labs__inner">
            <div class="labs__text">
                <h3 class="labs__title">AscentCore Labs</h3>
                <p>
                    We research, test, and evaluate all the latest technologies through our r&d lab in order to imagine and create digital products that are truly innovative. Our work with emerging tech includes a host of AI/ML applications, data privacy and visualization,
                    blockchain, and automation, among others. You can learn about our most recent projects below.
                </p>
                <a href="services.html/#architecture" class="labs__button">See our core technologies</a>
            </div>
            <div class="labs__images">
                <img src="assets/images/work/aclabs02.png" alt="people in office" />
                <img src="assets/images/work/aclabs01.png" alt="people in office 2" />
                <div class="box-overlay"> </div>
            </div>
        </div>
    </div>
</section>

<!-- Recent Project  -->

<section class="recent-projects">
    <div class="container">
        <h3 class="recent-project__title">Recent Projects</h3>
    </div>
    <div class="container">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/pages/showcase.html">
                        <img class="recent-project__image" style='background-image: url("/assets/images/articles/attack-prediction.png");' />
                    </a>
                    <div class="recent-project__wrapper">
                        <a href="/pages/showcase.html">
                            <h4 class="recent-project__article-title">Real-Time Attack Prediction</h4>
                        </a>
                        <p class="recent-project__article-description">Realtime attack prediction based on packet analysis using pre-trained neural net</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <a href="/2020/03/03/react-schema-form.html">
                        <img class="recent-project__image" style='background-image: url("/assets/images/articles/json-schema.png");' />
                    </a>
                    <div class="recent-project__wrapper">
                        <a href="/2020/03/03/react-schema-form.html">
                            <h4 class="recent-project__article-title">React Schema Form Library</h4>
                        </a>
                        <p class="recent-project__article-description">Form generation library and validation based on JSON schema for React</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <a href="/pages/pandemic.html">
                        <img class="recent-project__image" style='background-image: url("/assets/images/articles/pandemic.png");' />
                    </a>
                    <div class="recent-project__wrapper">
                        <a href="/pages/pandemic.html">
                            <h4 class="recent-project__article-title">Pandemic Simulator</h4>
                        </a>
                        <p class="recent-project__article-description">Part of COVID-19 Challenge</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>