<!-- AC Labs  -->

<section class="labs">
    <div class="container">
        <div class="labs__inner">
            <div class="labs__text">
                <h3 class="labs__title">Ascentcore Labs</h3>
                <p>
                    We research, test, and evaluate all the latest technologies through our r&d lab in order to imagine and create digital products that are truly innovative. Our work with emerging tech includes a host of AI/ML applications, data privacy and visualization,
                    blockchain, and automation, among others. You can learn about our most recent projects below.
                </p>
                <a href="services.html/#architecture" class="labs__button">See our core technologies</a>
            </div>
            <div class="labs__images">
                <img src="assets/images/work/aclabs02.png" alt="people in office" />
                <img src="assets/images/work/aclabs01.png" alt="people in office 2" />
                <div class="box-overlay"> </div>
            </div>
        </div>
    </div>
</section>