<!-- AC Labs  -->

<section class="labs">
    <div class="container">
        <div class="labs__inner">
            <div class="labs__text">
                <h3 class="labs__title">Ascentcore Labs</h3>
                <p>
                    We research, test, and evaluate all the latest technologies through our r&d lab in order to imagine and create digital products that are truly innovative. Our work with emerging tech includes a host of AI/ML applications, data privacy and visualization,
                    blockchain, and automation, among others. You can learn about our most recent projects below.
                </p>
                <a href="services.html/#architecture" class="labs__button">See our core technologies</a>
            </div>
            <div class="labs__images">
                <img src="assets/images/work/aclabs02.png" alt="people in office" />
                <img src="assets/images/work/aclabs01.png" alt="people in office 2" />
                <div class="box-overlay"> </div>
            </div>
        </div>
    </div>
</section>

<!-- Recent Project  -->

<section class="recent-projects">
    <div class="container">
        <h3 class="recent-project__title">Recent Projects</h3>
    </div>
    <div class="container">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for post in site.posts %}
                <div class="swiper-slide">
                    <a href="{{ site.baseurl }}{{post.url}}">
                        <img class="recent-project__image" style='background-image: url("{{post.img}}");' />
                    </a>
                    <div class="recent-project__wrapper">
                        <a href="{{ site.baseurl }}{{post.url}}">
                            <h4 class="recent-project__article-title">{{ post.title }}</h4>
                        </a>
                        <p class="recent-project__article-description">{{ post.excerpt }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>