<!-- HERO SECTION -->
<section class="work-hero">
    <div class="container">
        <h1 class="work-hero__title">Work</h1>
        <p class="work-hero__description">
            We build world-class digital products, delivered fast, for better value.
        </p>
    </div>
    <div class="work-hero__image"></div>
</section>

<!-- SERVICES LIST -->
<section class="activities">
    <div class="container">
        <div class="activities__inner">
            <div class="activities__card">
                <h2 class="activities__title">Cyber security</h2>
                <p class="activities__description">
                    From prediction and prevention, to risk quantification and analysis, we know how to protect your data and build products that stay ahead of any threats.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Healthcare</h2>
                <p class="activities__description">
                    We are committed to helping our clients design, develop, and build solutions that will shape the future of health, and increase quality of life.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Education</h2>
                <p class="activities__description">
                    We help transform the educational experience through technology in order to improve the learning experience and build better relationships with educators and students.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Technology</h2>
                <p class="activities__description">
                    Technology is changing rapidly, but we're adapting even faster. That's why leading technology companies trust us to realize their most important transformation initiatives.
                </p>
            </div>

            <div class="testimonials__card">
                <h2 class="testimonials__title">Testimonials</h2>
                <div class="testimonials__columns">
                    <div class="testimonial">
                        Hands down, AscentCore is the best development partner I have worked with. I came to them after having struggled with one team that couldn’t deliver and another that would only take the work if they could also take over product management. I needed a
                        team of senior developers who would work with us in an iterative manner as partners in creating something very new. AscentCore has exceeded all my hopes by becoming true partners in the product value and problem solvers. No roadblocks,
                        no excuses, no complaints, always available and always delighting me by expanding the possible with their ingenuity and quality work. Truly indispensable partners that leave their mark not just on the product, but on the business
                        and its strategy.
                        <div class="testimonial__author">- CEO, Cybersecurity Product Company</div>
                    </div>
                    <div class="testimonial">
                        Their transparency and work production provides us confidence that they are doing their best work for us in helping to meet our market demands.
                        <div class="testimonial__author">- Executive, Auto Entertainment Industry</div>
                    </div>

                </div>
            </div>

            <div class="activities__card">
                <h2 class="activities__title">Financial Services</h2>
                <p class="activities__description">
                    Our expert team collaborates with leaders in the industry to develop and deliver new operating models, monetize new revenue sources, and get more value from their investments.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Satellite</h2>
                <p class="activities__description">
                    There's no margin for error in space. We help companies in the commercial satellite industry drive efficiency, deliver media, and connect to their customers on a worldwide scale.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Automotive</h2>
                <p class="activities__description">
                    The automotive industry is looking for new ways to monetize their product and meet consumer demands. Automation, immersive experiences, and personalization are all part of solution.
                </p>
            </div>
            <div class="activities__card">
                <h2 class="activities__title">Telecommunications</h2>
                <p class="activities__description">
                    We help telecom leaders modernize and innovate using the latest technology in order to better serve their customers and stakeholders.
                </p>
            </div>
        </div>
    </div>
</section>

{% include homepage/tech.html %}

<div class="ac-labs">
    {% include work/ac-labs.html %}
</div>