<section class="contact" id="contact">
  <div class="left">
    <h3>Contact us</h3>
    <p>contact@ascentcore.com</p>
    <p>Nicolae Draganu Nr.4, Cluj Napoca, Romania</p>
  </div>
  <div class="right">
    <form action="https://formspree.io/mbjzydzp" method="POST">
      <div class="email-input">
        <label>
          Your email:
          <input type="text" name="_replyto">
        </label>
      </div>
      <div>
        <label>
          Your message:
          <textarea name="message"></textarea>
        </label>
      </div>

      <!-- your other form fields go here -->

      <button type="submit">Send</button>
    </form>
  </div>
</section>