<section class="contact" id="contact">
  <h3>Contact us</h3>
  <p>contact@ascentcore.com</p>

  <div class="flex">
    <div class="left">
      <div class="image-ro"></div>
      <p>Nicolae Draganu Nr.4, Cluj Napoca, Romania</p>
    </div>
    <div class="right">
      <div class="image-us"></div>
      <p>1284 Auburn Grove Ln Reston, VA 20194, USA</p>
<!--      <form action="https://formspree.io/mbjzydzp" method="POST">-->
<!--        <div class="email-input">-->
<!--          <label>-->
<!--            Your email:-->
<!--            <input type="text" name="_replyto">-->
<!--          </label>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label>-->
<!--            Your message:-->
<!--            <textarea name="message"></textarea>-->
<!--          </label>-->
<!--        </div>-->

<!--        &lt;!&ndash; your other form fields go here &ndash;&gt;-->

<!--        <button type="submit">Send</button>-->
<!--      </form>-->
    </div>
  </div>

</section>