<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <!-- FOOTER LEFT SIDE -->
      <div class="footer__left">
        <div class="footer__logo">ASCENTCORE</div>
        <h3 class="footer__tagline">Better quality, no trade-offs</h3>
        <div class="footer__location">
          <div class="footer__address">
            <p>Nicolae Draganu Nr.4</p>
            <p>Cluj Napoca, Romania</p>
          </div>
          <div class="footer__address">
            <p>1900 Reston Metro Plaza, 6th Floor</p>
            <p>Reston, Virginia 20190, USA</p>
          </div>
        </div>
        <a href="#" class="footer__link"> Contact us </a>
      </div>

      <!-- FOOTER RIGHT SIDE -->
      <div class="footer__right">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="{{ site.baseurl }}" class="footer__navlink">Home</a>
            </li>
            {% for nav in site.data.navigation %}
            <li>
              {%- if nav.external -%}
                <a href="{{ nav.url }}" class="footer__navlink" target="_blank">{{ nav.text }}</a>
              {%- else- %}
                <a href="{{ site.baseurl }}{{ nav.url }}" class="footer__navlink">{{ nav.text }}</a>
              {%- endif -%}
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="footer__grid">
          <div class="footer__col">
            <div class="footer__section">
              <h3 class="footer__title">Expertise</h3>
              <nav class="footer__secondary-nav">
                <ul>
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#architecture"
                      class="footer__secondary-link"
                      >Architecture design</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#development"
                      class="footer__secondary-link"
                      >Development</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#ux"
                      class="footer__secondary-link"
                      >UI/UX</a
                    >
                  </li>
                 
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#qa"
                      class="footer__secondary-link"
                      >Quality Assurance</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#analytics"
                      class="footer__secondary-link"
                      >Data & Analytics</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#devops"
                      class="footer__secondary-link"
                      >DevOps</a
                    >
                  </li>
              
                  <li>
                    <a
                      href="{{ site.baseurl }}/services.html#security"
                      class="footer__secondary-link"
                      >Security</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="footer__col">
            <div class="footer__section">
              <h3 class="footer__title">Industries</h3>
              <nav class="footer__secondary-nav">
                <ul>
                  <li>
                    <a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Cyber Security</span></a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Healthcare</span></a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Data privacy</span></a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Distributed economy</span></a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Analitycs</span></a>
                  </li>
                  <li><a href="{{ site.baseurl }}/work.html"><span class="footer__secondary-link">Media</span></a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="footer__col">
            <div class="footer__section">
              <h3 class="footer__title">Articles</h3>
              <nav class="footer__secondary-nav">
                <ul>
                  {% for post in site.posts limit:5 %}
                  <li>
                    <a href="{{ site.baseurl }}{{post.url}}" class="footer__secondary-link">{{post.title}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="footer__row">
            <div class="footer__section">
              <h3 class="footer__title">Careers</h3>
              <p class="footer__careers-tagline">
                We’re always looking for top talent
              </p>
              <a href="https://ascentcoreaccount.bamboohr.com/jobs/" class="footer__link" target="_blank">See our opportunities</a>
              <p class="footer__copyright">Privacy Policy Terms and Conditions &copy; 2021 AscentCore</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
