<section class="intro">

  <h2 class="light">Better quality. No trade-offs.</h2>

  <div class="desc">
    <p>When you outsource product development with AscentCore, you don’t have to compromise quality, scalability, or
      time-to-market. We build world-class digital products, delivered fast, for better value.</p>
  </div>
  <!-- <button onclick="scrollToSection('showcase')">Get started</button> -->

  <div class="overlay">
    <video autoplay muted loop class="bg-video">
      <source src="assets/static/intro.mp4" type="video/mp4">
    </video>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-12 info">
        <img src="assets/icons/development.svg" />
        <span class="title">Development</span>
        <p class="description">Design and implementation, Reviews, Performance and Security</p>
      </div>
      <div class="col-md-6 col-lg-4 col-12 info">
        <img src="assets/icons/qa.svg" />
        <span class="title">Quality Assurance</span>
        <p class="description">Focus on automation, Custom Tooling, Security</p>
      </div>
      <div class="col-md-6 col-lg-4 col-12 info">
        <img src="assets/icons/pm.svg" />
        <span class="title">Project Management</span>
        <p class="description">Agile Approach, Flexibility, Customer Oriented, Risk Management</p>
      </div>    
      <div class=" col-md-6 col-lg-4 offset-lg-2 col-12 info">
        <img src="assets/icons/delivery.svg" />
        <span class="title">Delivery</span>
        <p class="description">Packaging and Bundling, Automated Deployment, Monitoring</p>
      </div>
      <div class="col-md-6 col-lg-4 col-12 info offset-md-4 offset-lg-0">
        <img src="assets/icons/research.svg" />
        <span class="title">Research</span>
        <p class="description">Artificial Intelligence, Machine Learning, Data Analysis</p>
      </div>
    </div>
  </div>



</section>