<section class="intro">
  <div class="desc">
    <p>
      We build world-class digital products, <span>delivered fast, for better value.</span>
      <br/><br/>
      When you outsource product development with us, you <span>don’t have to compromise</span> quality, scalability, or
      time-to-market.
    </p>
  </div>
<!--   <button onclick="scrollToSection('showcase')">Get started</button>-->
</section>

<section class="services">
    <div class="item">
      <div class="icon">
        <img src="assets/icons/development.svg" />
      </div>
      <h3 class="title">Development</h3>
      <p class="description">Design and implementation, Reviews, Performance and Security</p>
    </div>
    <div class="item">
      <div class="icon">
        <img src="assets/icons/qa.svg" />
      </div>
      <h3 class="title">Quality Assurance</h3>
      <p class="description">Focus on automation, Custom Tooling, Security</p>
    </div>
    <div class="item">
      <div class="icon">
        <img src="assets/icons/pm.svg" />
      </div>
      <h3 class="title">Project Management</h3>
      <p class="description">Agile Approach, Flexibility, Customer Oriented, Risk Management</p>
    </div>
    <div class="item">
      <div class="icon">
        <img src="assets/icons/delivery.svg" />
      </div>
      <h3 class="title">Delivery</h3>
      <p class="description">Packaging and Bundling, Automated Deployment, Monitoring</p>
    </div>
    <div class="item">
      <div class="icon">
        <img src="assets/icons/research.svg" />
      </div>
      <h3 class="title">Research</h3>
      <p class="description">Artificial Intelligence, Machine Learning, Data Analysis</p>
    </div>
</section>