<section class="intro">

  <h2 class="light">Better quality. <br />No trade-offs.</h2>

    <div class="desc">
      <p>When you outsource product development with AscentCore, you don’t have to compromise quality, scalability, or
        time-to-market. We build world-class digital products, delivered fast, for better value.</p>
    </div>
    
    <button onclick="scrollToSection('showcase')">Get started</button>
    <div class="overlay">
      <video autoplay muted loop class="bg-video">
        <source src="assets/static/intro.mp4" type="video/mp4">
      </video>
    </div>
  </section>