<section class="process" id="process">
    <div class="flex">
      <div class="col-1-2">
        <h2 class="light">World-class software development</h2>
      </div>
      <div class="col-1-2">
        <div class="desc">
          <h3>Integrated development model</h3>
          <p>We strive to create partnerships and implement software with integrated teams.</p>
          <h3>Agile methodology</h3>
          <p>Customer satisfaction by rapid, continuous delivery of useful software, built with collaboration in mind,
            from concept to production.</p>
          <h3>Outcome-based approach</h3>
          <p>Clearly stated results for the people and organisations who are supposed to benefit. We create cultures of
            accountability.</p>
          <h3>Holistic service</h3>
          <p>We have experts who have decades of real-world hands-on experience of implementing software architectures and
            design patterns in a wide variety of software projects.</p>
        </div>
      </div>
    </div>
    <div class="image"></div>
  </section>