<section class="process" id="process">
    <p>We use an integrated development model with the goal of creating partnerships and implementing software with integrated teams.</p>
    <p>We then apply an agile methodology for a rapid, continuous delivery of useful software, built with collaboration in mind,
      from concept to production.</p>
    <p>We focus on outcomes, not output. Clearly stated results for the people and organisations who are supposed to benefit. We create cultures of
      accountability.</p>
    <p>We have experts who have decades of real-world hands-on experience of implementing software architectures and
      design patterns in a wide variety of software projects.</p>
</section>