<section class="services" id="services">
    <div class="flex">
      <div class="col-1-2">
        <div class="desc">
          <h3>Software development</h3>
          <p>We help our partners deliver custom software in time, with no trade-offs by handling software projects from
            concept to delivery.</p>
          <h3>Quality assurance</h3>
          <p>We provide top-class software testing by working close along developers and product managers to understand
            and test all requirements.</p>
          <h3>UI/UX Design</h3>
          <p>We enable teams to work collaboratively by abiding to Lean UX practices. We build products with you.</p>
          <h3>DevOps</h3>
          <p>We shorten the systems development life cycle while also delivering features, fixes, and updates frequently
            in close alignment with business objectives.</p>
        </div>
      </div>
      <div class="col-1-2">
        <h2 class="light">From concept to product and beyond</h2>
        <!-- <button>See how we do it</button> -->
      </div>
    </div>
    <div class="image"></div>
  </section>