<section class="showcase" id="showcase">
  <h3>Sometimes you need to experiment that's why we lorem ipsum dolor sit amet</h3>

  <div class="flex">
    {% for app in site.data.apps %}
    <div class="card">
      <a href="{{app.link}}" class="card-image" style='background-image: url("{{app.img}}");'></a>
      <div class="card-info">
        <div class="card-title">
          <a href="{{app.link}}">{{app.title}}</a>
        </div>

        <div class="card-description">
          <p>{{app.description}}</p>
<!--          <a class="button" href="{{app.link}}">Open experiment</a>-->
        </div>
      </div>
    </div>
    {% endfor %}

    {% for post in site.posts %}
    <div class="card">
      <a href="{{post.url}}" class="card-image" style='background-image: url("{{post.img}}");'></a>
      <div class="card-info">
        <div class="card-title">
          <a href="{{post.url}}">{{post.title}}</a>
        </div>

        <div class="card-description">
          <p>{{post.description}}</p>
<!--          <a class="button" href="{{post.url}}">Open post</a>-->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>