<section class="showcase" id="showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

  <ul>
    {% for member in site.data.apps %}

    {% endfor %}
  </ul>
  <!-- <div class="flex">
      <div class="col-1-1">
        <h2 class="light">Showcase</h2>
      </div>
  
      <div class="posts">
        {% for post in site.posts %}
        <article class="post">
  
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  
          <div class="entry">
            {{ post.excerpt }}
          </div>
  
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
        {% endfor %}
      </div>
      <div class="col-1-3">
        <img src="assets/static/showcase_thumb-1.png" alt="showcase 1" />
        <div class="desc">
          <p>Realtime Visualization on Attack Prediction <br />using Pre-Trained Neural Net.</p>
        </div>
        <a class="button" href="/pages/showcase.html">Open</a>
      </div>
      <div class="col-1-3">
        <img src="assets/static/showcase_thumb-3.png" alt="showcase 3" />
        <div class="desc">
          <p>Pandemic Simulator<br />
            Part of COVID-19 Research</p>
        </div>
        <a class="button" href="/pages/pandemic.html">Open</a>
      </div>
      <div class="col-1-3">
        <img src="assets/static/showcase_thumb-2.png" alt="showcase 2" />
        <div class="desc">
          <p>Evolution of COVID-19 epidemic over time<br />
            Part of COVID-19 Research</p>
        </div>
        <a class="button" href="/pages/covid-19.html">Open</a>
      </div> -->
  <!-- <div class="col-1-2 showcase-left">
        <h2 class="light">Showcase</h2>
        <div class="desc">
          <p>Realtime Visualization on Attack Prediction <br />using Pre-Trained Neural Net.</p>
        </div>
        <a class="button" href="/pages/showcase.html">Open</a>
      </div>
      <div class="col-1-2">
        <img src="assets/static/showcase_thumb-1.png" alt="showcase 1" />
      </div> -->
  </div>
</section>