<section class="showcase" id="showcase">
  <h3>What we do for fun</h3>

  <div class="flex">
    {% for app in site.data.apps %}
    <div class="card">
      <a href="{{app.link}}" class="card-image" style='background-image: url("{{app.img}}");'></a>
      <div class="card-info">
        <div class="card-title">
          <a href="{{app.link}}">{{app.title}}</a>
        </div>

        <div class="card-description">
          {{app.description}}
          <br />
          <a href="{{app.link}}">Open experiment</a>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for post in site.posts %}
    <div class="card">
      <a href="{{post.url}}" class="card-image" style='background-image: url("{{post.img}}");'></a>
      <div class="card-info">
        <div class="card-title">
          <a href="{{post.url}}">{{post.title}}</a>
        </div>

        <div class="card-description">
          {{post.description}}
          <br />
          <a href="{{post.url}}">Open post</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>