
<div class="header">

<!--  <div class="logo">-->
<!--    <img src="assets/static/logo.svg" alt="logo" />-->
<!--  </div>-->

  <div class="anim-container">
    <div class="anim-inner">
      <h2 class="tagline">Better quality, no trade-offs.</h2>
      <h1>ascentcore</h1>
    </div>
  </div>

  <div class="inner">
    <div>
      <div class="col">
        <span onclick="scrollToSection('contact')">Contact</span>
        <span onclick="scrollToSection('openings')">Openings</span>
        <span onclick="scrollToSection('process')">Process</span>
        <span onclick="scrollToSection('services')">Services</span>
        <span onclick="scrollToSection('showcase')">Showcase</span>
      </div>
    </div>
  </div>
  <div class="line"></div>
  </div>
  