
<div class="sidebar">
    <h1>ascentcore</h1>
    <div class="inner">
      <div>
        <div class="col">
          <span onclick="scrollToSection('contact')">Contact</span>
          <span onclick="scrollToSection('openings')">Openings</span>
          <span onclick="scrollToSection('process')">Process</span>
          <span onclick="scrollToSection('services')">Services</span>
          <span onclick="scrollToSection('showcase')">Showcase</span>
        </div>
      </div>
    </div>
    <div class="line"></div>
  </div>
  