.contact {
    background: linear-gradient(207deg, #262554, #403d9b);
    background-size: 100% 100%;
  
    .image {
      width: 100%;
      height: calc(50vh - 40px);
      background-size: 46%;
      position: relative;
      overflow: hidden;
      background-image: url(/assets/static/office.jpg);
      background-attachment: fixed;
      margin-bottom: 60px;
    }
  
    b {
      font-weight: bold;
    }
  }
  