body {
  font-family: "Lato", sans-serif;
  width: 100%;
  font: 400 16px/1.5 "Lato", sans-serif;
  color: #444;
  background-color: #FFF;
}

.main-container {
  max-width: 940px;
  margin: 0 auto;
}

svg {
  margin: 0 auto;
}

section {
  position: relative;
  display: block;
  padding: 120px;
  color: #fff;

  @media only screen and (max-width: 920px) {
    padding: 40px 20px;
  }
}

.desc {
  position: relative;
  z-index: 1;
  padding-top: 40px;
}

.image {
  background-attachment: fixed;
  background-size: 100% 100%;
}
