body {
  font-family: 'Ubuntu Mono', monospace;
  width: 100%;
  font-size: 18px;
  color: #444;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 120px;
  color: #FFF;

  @media only screen and (max-width: 920px) {
    padding: 120px 20px;

    h2 {
      font-size: 3em !important;
    }
  }
  

  h2 {
    font-size: 5em;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: 'Ubuntu Mono', monospace;
  }
}

.desc {
  position: relative;
  z-index: 1;
  padding-top: 40px;
}

.image {
  background-attachment: fixed;
  background-size: 100% 100%;
}
