/* --------------------- Homepage styles --------------------- */

@import 'tech';
@import 'description';
@import 'swiper';
.delivery {
    h3 {
        color: var(--color-blue);
        text-align: center;
    }
    padding: var(--space-xlarge) 0;
    ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-right: var(--space-xlarge);
            margin-top: var(--space-large);
            img {
                max-width: 48px;
                max-height: 48px;
            }
            span {
                margin-top: var(--space-small);
                display: block;
            }
        }
    }
}

.homepage {
    /* Hero section */
    .home-hero {
        position: relative;
        padding: var(--space-xlarge) 0;
        background: var(--color-blue);
        background: linear-gradient(153deg, var(--color-blue) 36%, var(--color-orange) 100%);
    }
    .home-hero__title {
        position: relative;
        z-index: 3;
        font-size: var(--text-big-titles);
        color: var(--color-white-blue);
        padding: 0;
        margin: 0 0 var(--space-xsmall) 0;
        max-width: 680px;
    }
    .home-hero__title span {
        color: var(--color-orange);
    }
    .home-hero__description {
        color: var(--color-white-blue);
        font-size: var(--text-large);
        padding: 0;
        margin: 0;
    }
    .home-hero__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.15;
        background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
        background-size: 100%;
        background-position: center bottom;
        background-attachment: fixed;
    }
    .home-hero__buttons {
        position: relative;
        z-index: 3;
        display: flex;
        flex-wrap: wrap;
        margin: calc(var(--space-large) + var(--space-xxsmall)) 0 0 0;
    }
    .home-hero__button {
        cursor: pointer;
        display: inline-block;
        border: 1px solid var(--color-white-blue);
        padding: var(--space-xsmall) var(--space-large);
        font-size: var(--text-large);
        font-weight: bold;
        border-radius: 10px;
        color: var(--color-white-blue);
        text-decoration: none;
        margin-right: var(--space-small);
        small {
            font-size: 13px;
        }
    }
    .home-hero__button:hover {
        background: var(--color-white);
        color: var(--color-blue);
    }
    .home-hero__button--white {
        background: var(--color-white);
        border: 1px solid var(--color-white);
        color: var(--color-orange);
    }
    .home-hero__button--white:hover {
        cursor: pointer;
        background: var(--color-orange);
        border: 1px solid var(--color-orange);
        color: var(--color-white);
    }
    @media (max-width: 1120px) {
        .home-hero__image {
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
        }
    }
    @media (max-width: 541px) {
        .home-hero__buttons {
            display: block;
        }
        .home-hero__button--white {
            margin-top: var(--space-small);
        }
    }
    /* Intro section */
    .intro {
        padding: var(--space-xlarge) 0;
        border-bottom: 1px solid var(--color-light-gray);
    }
    .intro__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .intro__copy {
        max-width: 100%;
    }
    .intro__title {
        font-size: var(--text-medium-titles);
        color: var(--color-blue);
        margin: 0 0 var(--space-small);
        padding: 0;
    }
    .intro__description {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    .intro__button {
        border: 1px solid var(--color-blue);
        margin-top: var(--space-large);
        padding: var(--space-xsmall) var(--space-large);
        font-size: var(--text-large);
        font-weight: bold;
        border-radius: 10px;
        color: var(--color-blue);
        text-decoration: none;
    }
    @media (max-width: 1080px) {
        .intro__inner {
            display: block;
        }
        .intro__button {
            display: inline-block;
            margin-top: var(--space-large);
        }
    }
    /* Process section */
    .process {
        position: relative;
        padding: var(--space-xlarge) 0;
        border-bottom: 1px solid var(--color-light-gray);
    }
    .process__list {
        max-width: 780px;
        background: var(--color-white);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
    .process__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-image: url('https://images.unsplash.com/photo-1501891037204-8754d498396b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=932&q=80');
        background-size: cover;
        background-position: center;
    }
    .process__item {
        padding: var(--space-large);
        border-bottom: 1px solid var(--color-light-gray);
    }
    .process__item:last-child {
        border-bottom: none;
    }
    .process__title {
        font-size: var(--text-small-titles);
        margin: 0 0 var(--space-xsmall) 0;
        padding: 0;
        &.accent a {
            color: var(--color-orange);
        }
    }
    .process__image-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-blue);
        opacity: 0.7;
    }
    .process__text {
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 820px) {
        .process__image {
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
    @media (max-width: 620px) {
        .process__item {
            padding-left: var(--space-small);
            padding-right: var(--space-small);
        }
    }
    /* Testimonial section */
    .testimonial {
        padding: var(--space-xlarge) 0;
        text-align: center;
        border-bottom: 1px solid var(--color-light-gray);
    }
    .testimonial__inner {
        max-width: 760px;
        margin: 0 auto;
    }
    .testimonial__title {
        font-size: var(--text-large);
        font-weight: normal;
        color: var(--color-blue);
        margin: 0 0 var(--space-large) 0;
        padding: 0;
    }
    .testimonial__content {
        font-size: var(--text-medium-titles);
        font-weight: normal;
        font-style: italic;
        padding: 0;
        margin: 0 0 var(--space-large) 0;
    }
    .testimonial__name {
        font-weight: bold;
        margin: 0 0 var(--space-xsmall) 0;
        padding: 0;
    }
    .testimonial__position {
        color: var(--color-dark-gray);
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    .testimonial__company {
        color: var(--color-dark-gray);
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
}