@media only screen and (min-width: 992px) {
    section {
        padding: $section-padding;
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }

    section {
        padding: $section-padding-medium;

        h2 {
            font-size: $section-h2-font-size-tablet;
        }
    }
}

@media only screen and (max-width: 992px) {
    section {
        padding: $section-padding-small;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: $section-padding-tablet;

        h2 {
            font-size: $section-h2-font-size-tablet;
        }
    }   
}

@media only screen and (max-width: 576px) {
    section {
        padding: $section-padding-mobile;
    }

    button {
        width: 100%;
    }

    
}
