.post {
    background-color: #fff;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px;

    h1,
    h2,
    p,
    i,
    a,
    .first-letter,
    .authorName a {
        color: rgba(0, 0, 0, 0.84);
        text-rendering: optimizeLegibility;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 48px;
        text-align: left;
        margin-bottom: 8px;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 700;
        padding: 0;
        margin: 56px 0 -13px -1.883px;
        text-align: left;
        line-height: 34.5px;
        letter-spacing: -0.45px;
    }

    p,
    i,
    a {
        margin-top: 21px;
        font-family: "Lora";
        font-size: 21px;
        letter-spacing: -0.03px;
        line-height: 1.58;
    }

    a {
        text-decoration: underline;
    }

    blockquote {
        font-family: "Playfair Display", serif;
        font-size: 30px;
        font-style: italic;
        letter-spacing: -0.36px;
        line-height: 44.4px;
        overflow-wrap: break-word;
        margin: 55px 0 33px 0;
        /* text-align: center; */
        color: rgba(0, 0, 0, 0.68);
        padding: 0 0 0 50px;
    }

    code {
        font-size: 18px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        padding: 3px 5px;
    }

    img {
        max-width: 100%;
    }

    mark,
    .highlighted {
        background: #7dffb3;
    }

    .first-letter {
        overflow-wrap: break-word;
        font-family: "Playfair Display", serif;
        font-size: 60px;
        line-height: 60px;
        display: block;
        position: relative;
        float: left;
        margin: 0px 7px 0 -5px;
    }

    .subtitle {
        font-family: "Lato", sans-serif;
        color: rgba(0, 0, 0, 0.54);
        margin: 0 0 24px 0;
    }

    ::selection {
        background-color: lavender;
    }
}


.author {
    border-top: 1px solid #808080;
    padding: 50px 0;
    margin: 50px 0;
  
    img {
      float: left;
      width: 100px !important;
      height: 100px;
      margin-left: 15px !important;
      border-radius: 100%;
      vertical-align: text-top;
      border: 1px solid rgba(0,0,0, 0.2);
      padding: 2px;
    }
  
    span {
      display: block;
      margin-left: 150px;
  
      &.grayed {
        color: rgb(120, 120, 120);
      }
  
      &.name {
        font-weight: 700;
        font-size: 24px;
        padding: 10px 0;
  
        span {
          margin: 0;
          padding: 0;
          display: inline-block;
          font-size: 14px;
        }
      }
    }
  }