

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: $sidebar-width;
  height: 100%;  
  overflow: hidden;
  opacity: $sidebar-opacity;

  h1 {
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: $sidebar-text-color
  }

  .col {
    width: 100%;
    flex-basis: 100%;
    padding-top: $sidebar-padding;

    span {
      color: $sidebar-text-color;
      font-size: $sidebar-font-size;
      cursor: pointer;
      display: inline-block;
      margin: 0 $sidebar-links-spacing 0 0;      
      text-decoration: none;

      &:hover {
        color: #999;
      }
    }
  }

  .inner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 230px;
    // height: calc(100% - 270px);

    & > div {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      width: calc(100vh - 270px);
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: rotate(-90deg) translateX(-100%);
    }
  }

  .line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background: #fff;
    height: 230px;
  }

  .line:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff45;
    width: 1px;
  }
}

  
