/* Sidebar */
$width: 80px;

.sidebar {
  position: fixed;
  z-index: 1;
  right: 0;
  width: $width;
  height: 100%;
  top: 0;
  overflow: hidden;
  opacity: 0.85;

  h1 {
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
    /*color: #33326d;*/
  }

  .col {
    width: 100%;
    flex-basis: 100%;
    padding-top: 30px;

    a:hover {
      color: #999;
    }

    span {
      cursor: pointer;
      display: inline-block;
      margin: 0 40px 25px 0;
      color: #fff !important;
      text-decoration: none;
    }
  }

  .inner {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
    height: calc(100% - 270px);

    & > div {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      width: calc(100vh - 270px);
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: rotate(-90deg) translateX(-100%);
    }
  }

  .line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background: #fff;
    height: 230px;
  }

  .line:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff45;
    width: 1px;
  }
}
