.contact {
  padding-top: 90px;
  margin-top: 90px;
  padding-bottom: 180px;
  border-top: 1px dashed #eaeaea;

  a {
    color: #1d1d1d;
  }

  .left {
    padding-top: 90px;
    width: 50%;
    padding-right: 90px;
    box-sizing: border-box;

    .image-ro {
      background-image: url("https://www.romanianfriend.com/uploads/media/cluj_napoca_1-frontend-gallery-image.jpeg");
      height: 300px;
      width: 300px;
      background-size: cover;
      background-position: bottom;
      margin-bottom: 20px;
    }
  }

  .right {
    padding-top: 90px;
    width: 50%;

    .image-us {
      background-image: url("https://image.shutterstock.com/image-photo/reston-va-usa-november-25-600w-1570629925.jpg");
      height: 300px;
      width: 300px;
      background-size: cover;
      background-position: bottom;
      margin-bottom: 20px;
    }

    .email-input {
      margin-bottom: 30px;

      input {
        display: block;
        background: none;
        box-shadow: none;
        border: 2px solid #d6d6d6;
        height: 45px;
        width: 420px;
        margin-top: 15px;
      }
    }

    textarea {
      background: none;
      box-shadow: none;
      border: 2px solid #d6d6d6;
      width: 420px;
      margin-top: 15px;
      display: block;
      height: 220px;
    }
  }

  h3 {
    font-size: 1.85rem;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  p {
    opacity: 0.85;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
