.process {
  //background: linear-gradient(207deg, #3a3956, #403d9b, #7673b5);
  //background-size: 100% 100%;
  max-width: 1060px;
  margin: 0 auto;

  h2 {
    margin-top: 90px;
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: 400;
    color: #484848;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 15px;
    color: #484848;
  }

  .image {
    height: calc(60vh - 70px);
    width: 45vw;
    margin-top: 60px;
    background-image: url(/assets/static/workbench.jpeg);
    opacity: 0.3;
    position: absolute;
    top: 20%;
    left: 12%;
  }
}
