.process {

  .header {
    padding: 60px 0 0;

    h3 {
      font-size: 1.85rem;
      line-height: 1.3;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
  }

  .box {
    padding: 60px 60px 0 0;
    width: 50%;

    p {
      font-size: 1.2rem;
      line-height: 1.3;
      font-weight: 300;
    }
  }
}
