.services {
  background: linear-gradient(27deg, #403d9b, #403d9b);
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;

  .item {
    position: relative;
    border-right: 1px dashed #5855a2;
    padding: 80px 30px 260px;
    width: 20%;
    box-sizing: border-box;

    &:hover {
      background: #3f3ba0;
    }

    .icon {
      width: 45px;
      height: 45px;

      img {
        width: 100%;
      }
    }

    .title {
      font-size: 1.4rem;
      margin-top: 30px;
      color: #fff;
      opacity: 0.85;
      margin-bottom: 30px;
    }

    .description {
      color: #fff;
      opacity: 0.85;
      font-size: 1.2rem;
    }
  }
}
