<!-- HERO SECTION -->
<section class="ai-service-hero">
    <div class="container">
        <h1 class="ai-service-hero__title">Artificial Intelligence</h1>
        <h3 class="ai-service-hero__subtitle">Emerging Technology Services</h3>
    </div>
</section>

<!--  SECTION -->
<section class="ai-data">
    <div class="container">
        <div class="ai-data__inner">
            <div class="ai-data__text">
                <div class="ai-data__title">
                    <h2>Data Science</h2>
                    <p>
                        We have experience preparing input data for any type of data analysis and visualization.
                    </p>
                </div>
                <ul>
                    <li><b> Outlier / inlier detection: </b> We apply various methods for eliminating exceptional outliers from the input dataset. By applying standard deviation processing with agglomerative clustering techniques we were successfully able
                        to build a dynamic outlier detection pipeline.
                    </li>
                    <li><b> Data cleanup: </b> We are able to identify methods for approximation of null/empty/infinite valued cells by identifying the relationships between cells and determining value approximations for use in regressions, deep learning
                        prediction, and more.
                    </li>
                    <li><b> Data visualization: </b> In-depth knowledge of various data visualization libraries such as D3. Built custom visualizations tailored to business needs.
                    </li>
                    <li><b> Feature normalization / extraction: </b> Able to build a custom data pipeline for feature extraction and normalization in order to avoid divergence.
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>


<!-- Domain search -->
<section class="ai-data description container reversed">
    <div class="details">
        <div class="content">
            <div class="ai-data__title">
                <h2>Domain Search</h2>
                <p>Our team is highly experienced in building and applying heuristic algorithms for function optimizations and multi-dimensional domain search.</p>
            </div>
            <p>We are able to tailor custom search algorithms for both mono and multi-modal functions to find the global optima and avoid premature convergence. We have successfully introduced clustering algorithms for local minima isolation and local evolution
                in order to ensure behavior consistency. Our work includes <b>genetic algorithms, particle swarm, threshold acceptance, simulated annealing and memetic algorithms</b>.
            </p>


        </div>
        <img src="assets/services/matthew-feeney.png" />
    </div>
</section>

<section class="ai-data machine">
    <div class="container">
        <div class="ai-data__inner">
            <div class="ai-data__text">
                <div class="ai-data__title">
                    <h2>Machine Learning</h2>
                    <p>
                        We can understand, implement, and customize even the most complex neural network architectures in order best match problem requirements.
                    </p>
                </div>
                <h4>Computer Vision / Image Recognition</h4>
                <ul>
                    <li>Experienced in building data pipelines for computer vision in order to ensure image input consistency and preparation for the learning process.
                    </li>
                    <li>Experienced with popular image classification, segmentation, generation and enhancement architectures.
                    </li>
                </ul>

                <h4>Classification / Prediction</h4>
                <ul>
                    <li>Experienced in building custom architectures for various classification or value predictions. We have successfully built various algorithms/nets with application in cybersecurity (malware classifier, attack prediction), sales process
                        stage classification.</li>
                </ul>

                <h4>Natural Language Processing (NLP)</h4>
                <ul>
                    <li>Experienced with NLTK and Spacy frameworks and successfully applied unsupervised document clustering using various machine learning techniques.</li>
                    <li>Our team is currently working on topic extraction research using attention based transformer.
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<!-- CALL TO ACTION -->
<section class="page-cta">
    <h3 class="page-cta__title">Lets get started?</h3>
    <a href="/contact" class="page-cta__link">Contact us</a>
</section>