<!-- HERO SECTION -->
<section class="services-hero">
    <div class="container">
        <h1 class="services-hero__title">Services</h1>
        <p class="services-hero__description">
            We build world-class digital products, delivered fast, for better value.
        </p>
    </div>
    <div class="services-hero__image"></div>
</section>

<!-- TABS -->
<div class="container">
    <div class="tabs tabs--service-page">
        <a href="#assessments" role="tab" class="tabs__button">Solutions</a>
        <span class="slash">/</span>
        <a href="#expertise" role="tab" class="tabs__button">Technology</a>
    </div>
</div>

<!-- SERVICES LIST -->
<section class="services-list" id="assessments">
    <!-- ASSESSMENT -->
    <div class="service">
        <div id="architecture"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">Architecture & Design</h2>
                    <p class="service__description">
                        Other companies will tell you how to reach your business goals. We prefer to take you there. That's why partnership and co-creation are at the center of how we architect new products and redesign existing ones.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <div class="service service--colored">
        <div id="development"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">Development</h2>
                    <p class="service__description">
                        We use an integrated development model with the goal of building strong global. We then apply an agile methodology for a rapid, continuous delivery of useful software, built with collaboration in mind, from concept to production.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
            <div class="content-container">
                <div class="content">
                    <h3>Programming Languages</h3>
                    <ul>
                        <li>Python</li>
                        <li>Node.js, Javascript</li>
                        <li>.Net, C#, Java</li>
                        <li>GoLang, Swift, Kotlin</li>
                        <li>Objective-C, PHP</li>
                    </ul>
                </div>

                <div class="content">
                    <h3>Platforms</h3>
                    <ul>
                        <li>AWS, Azure, Google Cloud</li>
                        <li>Angular, React</li>
                        <li>XCode, Android Studio</li>
                        <li>Salesforce, MS Dynamics</li>
                        <li>SharePoint</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="service">
        <div id="ux"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">User Experience</h2>
                    <p class="service__description">
                        Product experience always begins with the end user. Great functionality has to be joined with exceptional design in order to ensure product adoption and success. User research, empathy, and the latest design frameworks are all part of the recipe.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <!-- EXPERTISE -->
    <div class="service service--colored">
        <div id="qa"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">Quality Assurance</h2>
                    <p class="service__description">
                        We create unbreakable products through continuous testing because you can't afford to have your technology fail. Our dedicated QA team brings decades of knowledge to bear in order to maximize product performance and minimize risk.s
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <div class="service">
        <div id="analytics"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">Data & Analytics</h2>
                    <p class="service__description">
                        Our team will transform, enrich, contextualize, and visualize your raw data in order to drive actionable insights. By managing the entire data lifecycle, we can ensure that your business can capture and consume key information in a timely, effective manner.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <div class="service service--colored">
        <div id="devops"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">DevOps</h2>
                    <p class="service__description">
                        We focus on outcomes, not output. Our processes will increase release frequency and reliability through a blend of automation and continuous integration best practices.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <div class="service">
        <div id="security"></div>
        <div class="container">
            <div class="service__inner">
                <div class="service__text">
                    <h2 class="service__name">Security</h2>
                    <p class="service__description">
                        Keeping your product(s) secure begins with an exhaustive evaluation, followed by an actionable plan to preempt or remediate threats. Many of our client partners also choose embed our DevSecOps engineers or cybersecurity specialists within their team.
                    </p>
                </div>
                <div class="service__image"></div>
            </div>
        </div>
    </div>

    <div class="grid" id="expertise">
        <div class="grid-item">
            <img src="assets/services/icon-ai.png" />
            <h3>Artificial Intelligence (AI/ML)</h3>
            <div>
                Deep understanding of AI algorithms and ML architectures to enrich business with data driven behavior.
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-viz.png" />
            <h3>Data Visualization</h3>
            <div>
                Custom data visualizations tailored to your business in order to ease interaction, exploration and extract hidden information.
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-ds.png" />
            <h3>Data Science</h3>
            <div>
                Data pipelines for outlier/inlier identification, data normalization and augmentation. Groundwork for data visualization and AI.
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-item">
            <img src="assets/services/icon-mobile.png" />
            <h3>Native Mobile & Web</h3>
            <div>
                Native mobile and web app development across multiple platforms at all phases of the development lifecycle.
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-iot.png" />
            <h3>Internet of things (IoT)</h3>
            <div>
                We consider differences in context, input, and ergonomics that are essential to creating incredible interconnected experiences
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-nlp.png" />
            <h3>Language Processing (NLP)</h3>
            <div>
                Our team works with interfaces like Alexa or Cortana that are capable of understanding and analyzing speech.
            </div>
        </div>
    </div>
    <div class="grid last-grid">
        <div class="grid-item">
            <img src="assets/services/icon-priv.png" />
            <h3>Data Privacy</h3>
            <div>
                Building the correct system architecture is fundamental to data privacy, as well as best practices of data governance.
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-economy.png" />
            <h3>Distributed Economy</h3>
            <div>
                The development of decentralized, flexible technology that can be synergistically interconnected across a global network.
            </div>
        </div>

        <div class="grid-item">
            <img src="assets/services/icon-automation.png" />
            <h3>Automation</h3>
            <div>
                Automate the development, QA, and monitoring processes to increase efficiency and system health.
            </div>
        </div>
    </div>
</section>