<!-- HERO SECTION -->
<section class="services-hero">
  <div class="container">
    <h1 class="services-hero__title">Services</h1>
    <p class="services-hero__description">We build world-class digital products, delivered fast, for better value.</p>
  </div>
  <div class="services-hero__image"></div>
</section>

<!-- TABS -->
<div class="container">
  <div class="tabs tabs--service-page">
    <a href="#" role="tab" class="tabs__button">Assessments</a>
    <a href="#" role="tab" class="tabs__button tabs__button--active">Expertise</a>
    <a href="#" role="tab" class="tabs__button">Emerging tech</a>
  </div>
</div>

<!-- SERVICES LIST -->
<section class="services-list">
  <div class="service">
    <div class="container">
      <div class="service__inner">
        <div class="service__text">
          <h2 class="service__name">Architecture Design</h2>
          <p class="service__description">
            Custom design for business scaling.<br />
            Security and Performance first.<br />
            Risk assessment.
          </p>
          <a href="#" class="service__link">Learn more</a>
        </div>
        <div class="service__image"></div>
      </div>
    </div>
  </div>
  <div class="service service--colored">
    <div class="container">
      <div class="service__inner">
        <div class="service__text">
          <h2 class="service__name">UI/UX</h2>
          <p class="service__description">
            Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.
            At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.
          </p>
          <a href="#" class="service__link">Learn more</a>
        </div>
        <div class="service__image"></div>
      </div>
    </div>
  </div>
</section>