<!-- HERO SECTION -->
<section class="about-hero">
  <div class="container">
    <h1 class="about-hero__title">Our story</h1>
  </div>
</section>

<!-- STORY SECTION -->
<section class="story">
  <div class="container">
    <div class="story__inner">
      <div class="story__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut quam volutpat, tincidunt leo quis, luctus dolor. Mauris magna justo, pellentesque id risus varius, scelerisque suscipit magna. Integer congue eros accumsan lorem malesuada, cursus imperdiet magna pellentesque. </p>
        <p>Sed laoreet consequat dignissim. Vestibulum egestas lectus quis dui fringilla, quis molestie augue feugiat. Curabitur diam nibh, fringilla et nunc eget, tincidunt fringilla ipsum. Phasellus pharetra eleifend elit, ut iaculis diam mattis euismod. Sed quis bibendum est. Pellentesque interdum diam ut ornare tristique.
        </p>
        <p>Cras nisl ante, interdum nec pretium eget, auctor at ipsum. In non rhoncus dui, sit amet luctus ante. </p>
        <p>Vestibulum egestas lectus quis dui fringilla, quis molestie augue feugiat. Curabitur diam nibh, fringilla et nunc eget, tincidunt fringilla ipsum. Phasellus pharetra eleifend elit</p>
      </div>
      <div class="story__images">
        <img src="assets/images/about/about1.jpg" alt="people in office" />
        <img src="assets/images/about/about2.jpg" alt="people in office 2" />
      </div>
    </div>
  </div>
</section>

<!-- TEAM SECTION -->
<section class="team team--bg-grey">
  <div class="container">
    <h2 class="team__title">Board</h2>
    <div class="team__grid">
      <div class="team__member">
        <img src="assets/images/team/man1.jpg" alt="name surname" />
        <h3 class="team__name">John Smith</h3>
        <p class="team__position">CEO</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man2.jpg" alt="name surname" />
        <h3 class="team__name">Benjamin Bond</h3>
        <p class="team__position">Business operations manager</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman1.jpg" alt="name surname" />
        <h3 class="team__name">Shelley Cisneros</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman2.jpg" alt="name surname" />
        <h3 class="team__name">Alishia Potts</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman3.jpg" alt="name surname" />
        <h3 class="team__name">Leanne Duncan</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man1.jpg" alt="name surname" />
        <h3 class="team__name">Benjamin Bond</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man2.jpg" alt="name surname" />
        <h3 class="team__name">John Smith</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member"></div>
      <div class="team__member"></div>
      <div class="team__member"></div>
    </div>
  </div>
</section>

<!-- TEAM SECTION -->
<section class="team">
  <div class="container">
    <h2 class="team__title">Leadership</h2>
    <div class="team__grid">
      <div class="team__member">
        <img src="assets/images/team/man1.jpg" alt="name surname" />
        <h3 class="team__name">John Smith</h3>
        <p class="team__position">CEO</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man2.jpg" alt="name surname" />
        <h3 class="team__name">Benjamin Bond</h3>
        <p class="team__position">Business operations manager</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman1.jpg" alt="name surname" />
        <h3 class="team__name">Shelley Cisneros</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman2.jpg" alt="name surname" />
        <h3 class="team__name">Alishia Potts</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/woman3.jpg" alt="name surname" />
        <h3 class="team__name">Leanne Duncan</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man1.jpg" alt="name surname" />
        <h3 class="team__name">Benjamin Bond</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man2.jpg" alt="name surname" />
        <h3 class="team__name">John Smith</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member">
        <img src="assets/images/team/man2.jpg" alt="name surname" />
        <h3 class="team__name">John Smith</h3>
        <p class="team__position">Technical Lead</p>
      </div>
      <div class="team__member"></div>
      <div class="team__member"></div>
    </div>
  </div>
</section>