<!-- HERO SECTION -->
<section class="about-hero">
    <div class="container">
        <h1 class="about-hero__title">About Us</h1>
    </div>
</section>

<!-- STORY SECTION -->
<section class="story">
    <div class="container">
        <div class="story__inner">
            <div class="story__text">
                <p>
                    Our success is built on personal connection at a global scale. We’ve been doing this for decades but it's never just about the project at hand. It's about building trust and driving your long-term success. That’s how we enable companies to tackle their
                    most ambitious projects and build new technology.
                </p>
                <p>
                    Over the years, we have evolved our capabilities, sharpened our processes, and expanded our team but the impulse behind our work remains the same. We love to help our global clientele imagine and build world-class digital products, delivered fast, for
                    better value.
                </p>
            </div>
            <div class="story__images">
                <img src="assets/images/about/about1.jpg" alt="people in office" />
                <img src="assets/images/about/about2.jpg" alt="people in office 2" />
            </div>
        </div>
    </div>
</section>

<!-- TEAM SECTION -->
<section class="team team--bg-grey">
    <div class="container">
        <h4>At Ascentcore...</h4>
        <p>
            We provide end-to-end product development services including specialized expertise in a wide cross-section of industries and solutions. We sit at the nexus of deep vertical knowledge and comprehensive horizontal capabilities, empowering companies to disrupt,
            transform, accelerate, and scale.
        </p>
        <p>
            We’re a ‘this porridge is just right’ kind of technology partner. Whether it’s a small team to accelerate delivery, or the full weight of our creative and development offering, our solution is tailored to your needs. That flexibility makes us more personal
            and nimble than other digital product development firms.
        </p>
        <div class="story__inner">
            <div class="story__text emph">
                <span class="orange">Partner with us</span> to create effective solutions to your biggest technology challenges and
                <span class="orange">make your business goals a reality</span>.
            </div>
            <div class="story__action">
                <a href="contact.html"><button>Get in touch</button></a>
            </div>
        </div>
    </div>
</section>

<!-- TEAM SECTION -->
<section class="team">
    <div class="container">
        <h2 class="team__title">Leadership</h2>
        <div class="team__grid">
            <div class="team__member">
                <img src="assets/images/people/catalin.png" alt="Catalin Stef" />
                <h3 class="team__name">Catalin Stef</h3>
                <p class="team__position">Managing Partner</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/todd.png" alt="Todd Bramblett" />
                <h3 class="team__name">Todd Bramblett</h3>
                <p class="team__position">Managing Partner</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/larry.png" alt="Larry Simpson" />
                <h3 class="team__name">Larry Simpson</h3>
                <p class="team__position">Managing Partner</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/cornel.png" alt="Cornel Stefanache" />
                <h3 class="team__name">Cornel Stefanache</h3>
                <p class="team__position">CTO</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/raluca.png" alt="Raluca Han" />
                <h3 class="team__name">Raluca Han</h3>
                <p class="team__position">Director of Operations</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/amalia.png" alt="Amalia Dragus" />
                <h3 class="team__name">Amalia Dragus</h3>
                <p class="team__position">Technical Manager</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/ionut.png" alt="Ionut Gavris" />
                <h3 class="team__name">Ionut Gavris</h3>
                <p class="team__position">Technical Manager</p>
            </div>
            <div class="team__member">
                <img src="assets/images/people/sebi.png" alt="Sebastian Oros" />
                <h3 class="team__name">Sebastian Oros</h3>
                <p class="team__position">Technical Manager</p>
            </div>
            <div class="team__member"></div>
            <div class="team__member"></div>
        </div>
    </div>
</section>